<!DOCTYPE html>
<html lang="en" ng-app="CartApp">
    <head>
        <meta charset="UTF-8">
        <title>Shopping Cart!</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
        <link rel="stylesheet" href="cart.css">
        <script src="js/controller.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
    <body ng-controller="CartCtrl as ctrl">

        <!-- Shopping Cart Form -->
        <h1 class="jumbotron">Shopping Cart</h1>
        <table>
            <tr>
                <td>
                    <span>Item: </span>
                </td>
                <td>
                    <input type="text" ng-model="ctrl.item" placeholder="Item Description"/>
                    <span ng-if="ctrl.flag==1">Please enter Item Description!</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Quantity: </span>
                </td>
                <td>
                    <input type="number" ng-model="ctrl.qty" placeholder="Quantity" min="1"/>
                </td>
            </tr>
        </table>
        <br><br>
        <button type="button" class="btn btn-primary" ng-click="ctrl.checkAddToCart()">Add to Cart</button>

        <br>
        <!-- Shopping Cart List Display -->
        <div ng-show="ctrl.cart">
            <h1 class="jumbotron">Items in your cart</h1>
            <ul>
                <li ng-repeat="i in ctrl.cart">
                    {{i.item}} ({{i.qty}})
                    <button type="button" class="btn btn-warning" ng-click="ctrl.removeFromCart($index)">Remove</button>
                </li>
            </ul>
            <button type="button" class="btn btn-danger" ng-click="ctrl.initialize($log)">Empty Cart</button>
        </div>

    </body>
</html>